/* === ELEMENTS === */
body{
	background: #ecf0f1;
	font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
}
a{
	color: #0073aa;
}
a:hover,
a:focus {
	color: #00a0d2;
}
ul{
	list-style: circle;
}
/* Blockquotes */
blockquote, q{
	font-size: 20px;
	font-size: 2rem;
	font-style: italic;
	position: relative;
	color: #777;
	padding: 0 0 0 60px;
	padding: 0 0 0 6rem;
}
blockquote:before,
q:before{
	content: '\f106';
	font-family: "genericons";
	color: #ccc;
	position: absolute;
	font-style: normal;
	left: 0;
	top: 0;
	font-size: 50px;
	font-size: 5rem;
	-webkit-font-smoothing: antialiased;
}
blockquote cite{
	display: block;
	margin-top: 10px;
	margin-top: 1rem;
}
/* Forms */
label{
}
/* Pre, Code */
pre{
	background-color: #eee;
}
code{
	background: #eee;
}

/* === IMAGES & MEDIA === */


/* === CONTAINER === */
#container{
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
	margin: 0 auto;
	position: relative;
}

/* === HEADER IMAGE === */
.header-image-wrap{
	height: 200px;
	width: 100%;
	position: fixed;
	background: #001f33;
}
.header-image-wrap:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.header-image{
	height: 200px;
	width: 100%;
	opacity: 0.9;
	background-position: center;
}

/* === NAVIGATION === */
#menu-primary{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	background: rgba( 0,0,0, 0.6 );
}
#menu-primary .menu-container{
	border: none;
}
.menu-container li a{
	background: transparent;
	color: #fff;
}
.menu-container li a:hover,
.menu-container li a:focus{
	color: #ccc;
}
.menu-container li li a{
	color: #fff;
	background: rgba( 0,0,0, 0.3 );
}
.menu-container li li a:hover,
.menu-container li li a:focus{
	color: #ccc;
}
/* Search Form */
.menu-search .search-toggle{
	color: #fff;
}
.search-toggle-active.menu-search .search-submit{
	color: #fff;
}
.search-toggle-active.menu-search .search-form{
	padding-left: 10px;
	width: 260px;
	width: 26rem;
	background: rgba( 0,0,0, 0.3 );
}
.search-toggle-active.menu-search .search-field{
	border-color: transparent;
	border-radius: 0;
}
.menu-search .search-form{
	margin-right: 40px;
}
/* Sub Menu */
.menu-dropdown .sub-menu{
	border: none;
	margin-left: 0;
}
.menu-dropdown .sub-menu .sub-menu{
	margin-left: 1px;
}
.menu-dropdown .sub-menu li a{
	border: none;
}
.menu-dropdown .sub-menu li:hover > .sub-menu,
.menu-dropdown .sub-menu li.focus > .sub-menu{
	top: 0;
}
.mobile-menu-active .menu-dropdown .sub-menu li.menu-item-open-children > .sub-menu{
	top: 0;
}
/* == Genericons == */
.menu-dropdown ul li.menu-item-open-children > a:before,
.menu-dropdown ul li.menu-item-has-children > a:before{
	content: '\f431';
	font-family: "genericons";
}
.menu-dropdown .sub-menu .menu-item-open-children > a:before,
.menu-dropdown .sub-menu .menu-item-has-children > a:before{
	content: '\f428';
}
.mobile-menu-active .menu-item-parent-link a:before{
	content: '\f428';
}
/* Search */
.menu-search .search-toggle:after{
	content: '\f400';
	font-family: "genericons";
}
.search-toggle-active.menu-search .search-submit:before{
	content: '\f400';
	font-family: "genericons";
}
.search-toggle-active.menu-search .search-toggle:after{
	content: '\f405';
}
.no-js .menu-search .search-toggle:after{
	content: "\f335";
}
/* No Menu */
.menu-primary-inactive #menu-primary .menu-container > .wrap{
	display: none;
}
.menu-primary-inactive #menu-toggle-primary{
	display: none;
}
/* Admin Bar Fix */
body.admin-bar #menu-primary{
	margin-top: 30px;
}

/* === HEADER === */
#header{
	position: fixed;
	top: 230px;
	width: 300px;
}
	.admin-bar #header{
		top: 260px;
	}
	#branding{
		
	}
	#branding:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		#site-title{
			font-family: 'Satisfy', cursive;
			font-size: 45px;
			font-size: 4.5rem;
			font-weight: 400;
			margin: 0;
			margin-bottom: 20px;
			margin-bottom: 2rem;
			line-height: 1em;
		}
			#site-title a{
				color: #444;
			}
			#site-title a:hover,
			#site-title a:focus{
				color: #00a0d2;
			}
		#site-description{
			font-size: 20px;
			font-size: 2rem;
			margin: 0;
			margin-bottom: 30px;
			margin-bottom: 3rem;
		}
	/* Logo */
	.logo-active{
	}
	.logo-uploaded{
	}
	.logo-uploaded #header{
		top: 120px;
	}
	.admin-bar.logo-uploaded #header{
		top: 150px;
	}
	#site-logo{
		width: 150px;
		height: 150px;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	#site-logo > a{
		display: block;
	}
	img.logo-img{
		display: block;
		border-radius: 50%;
		border: 5px solid #fff;
	}
	#site-logo > a:hover img.logo-img,
	#site-logo > a:focus img.logo-img{
		border-color: #ecf0f1;
	}

/* === SOCIAL LINKS === */
.social-links{
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
}
.social-links:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.social-links a{
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-bottom: 7px;
}
.social-links a:hover,
.social-links a:focus{
	opacity: 0.8;
}
.social-links a:before{
	content: "\f408";
	font-family: "genericons";
	font-size: 30px;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	line-height: 1;
	color: #fff;
	background: #444;
	-webkit-font-smoothing: antialiased;
}
.social-links a[href*="codepen.io"]:before { content: '\f216';    }
.social-links a[href*="digg.com"]:before { content: '\f221';    }
.social-links a[href*="dribbble.com"]:before { content: '\f201'; }
.social-links a[href*="dropbox.com"]:before { content: '\f225';  }
.social-links a[href*="facebook.com"]:before { content: '\f204'; }
.social-links a[href*="flickr.com"]:before { content: '\f211'; }
.social-links a[href*="plus.google.com"]:before { content: '\f206'; }
.social-links a[href*="github.com"]:before { content: '\f200'; }
.social-links a[href*="instagram.com"]:before { content: '\f215'; }
.social-links a[href*="linkedin.com"]:before { content: '\f208'; }
.social-links a[href*="pinterest.com"]:before { content: '\f210'; }
.social-links a[href*="polldaddy.com"]:before { content: '\f217'; }
.social-links a[href*="getpocket.com"]:before { content: '\f224'; }
.social-links a[href*="reddit.com"]:before { content: '\f222';}
.social-links a[href*="skype.com"]:before { content: '\f220';}
.social-links a[href*="stumbleupon.com"]:before { content: '\f223';}
.social-links a[href*="tumblr.com"]:before { content: '\f214';}
.social-links a[href*="twitter.com"]:before { content: '\f202';}
.social-links a[href*="vimeo.com"]:before { content: '\f212';}
.social-links a[href*="wordpress.org"]:before,
.social-links a[href*="wordpress.com"]:before { content: '\f205';}
.social-links a[href*="youtube.com"]:before { content: '\f213';}
.social-links .mail-icon a:before { content: '\f410';}


/* === MAIN === */
#main{
	background: transparent;
}
#main:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.main-wrap:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}

/* === CONTENT === */
#content{
	margin-top: 80px;
}

/* === LOOP META === */
.archive-header{
	margin-bottom: 20px;
}
.archive-header:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.archive-title{
		font-size: 25px;
		font-size: 2.5rem;
		line-height: 1em;
		font-weight: 700;
		color: #fff;
		margin: 0;
		text-shadow: 0 1px #444;
	}
	.archive-description{
		display: none;
	}

/* === ENTRY === */
.entry{
	background: #fff;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	padding: 30px;
	padding: 3rem;
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Entry Wrap */
.entry-wrap{
}
	/* Entry Header */
	.entry-header{
		border-bottom: 1px solid #0073aa;
		padding-bottom: 30px;
		padding-bottom: 3rem;
		margin-bottom: 30px;
		margin-bottom: 3rem;
		position: relative;
	}
	.entry-header:after{
		content: '\f428';
		position: absolute;
		font-family: "genericons";
		vertical-align: top;
		font-size: 30px;
		bottom: -15px;
		left:-15px;
		color: #0073aa;
		-webkit-font-smoothing: antialiased;
	}
		/* Entry Title */
		.entry-title{
			font-size: 35px;
			font-size: 3.5rem;
			line-height: 1em;
			font-weight: 400;
			margin: 0;
			font-family: 'Satisfy', cursive;
		}
		.sticky .entry-title:before{
			content: '\f308';
			margin-right: 10px;
			margin-right: 1rem;
			font-family: "genericons";
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
		.entry-title a{
			color: #444;
		}
		.entry-title a:hover,
		.entry-title a:focus{
			color: #00a0d2;
		}
		/* Byline */
		.entry-byline{
		}
		.entry-footer .entry-byline{
			margin: 0;
		}
			.entry-byline a{
				color: #444;
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				color: #666;
			}
			.entry-author{
				margin-right: 10px;
			}
			.entry-author:before{
				content: '\f304';
				font-family: "genericons";
				margin-right: 5px;
				margin-right: 0.5rem;
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
			.entry-permalink:before{
				
			}
			.entry-published{
			}
			.entry-published:before{
				content: '\f307';
				font-family: "genericons";
				margin-right: 5px;
				margin-right: 0.5rem;
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
			.comments-link{
				margin-right: 10px;
				margin-right: 1rem;
			}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: '\f300';
				font-family: "genericons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
			.comments-link:after{
			}
/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	/* Post Formats */
	.chat-author{
		font-weight: 700;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail-link{
			float: right;
		}
		/* More link */
		.more-link-wrap{
			display: block;
			margin-top: 20px;
			margin-top: 2rem;
			margin-bottom: 20px;
			margin-bottom: 2rem;
		}
		p .more-link-wrap{
		}
		.more-link{
			display: inline-block;
		}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			content: '\f429';
			font-family: "genericons";
			vertical-align: top;
			margin-left: 5px;
			-webkit-font-smoothing: antialiased;
		}
		/* Page links */
		.wp-link-pages{
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			padding: 5px 10px;
			padding: 0.5rem 1rem;
			border: 1px solid #eee;
		}
		.wp-link-pages a{
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
	/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
			color: #444;
		}
		.post-edit-link:hover,
		.post-edit-link:focus{
			color: #666;
		}
		.post-edit-link:before{
			content: '\f411';
			margin-right: 5px;
			color: #444;
			font-family: "genericons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
		.post-edit-link:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.entry-meta{
		}
			.entry-meta .entry-terms{
				margin-right: 10px;
				margin-right: 1rem;
			}
			.entry-meta .entry-terms a{
				color: #444;
			}
			.entry-meta .entry-terms a:hover,
			.entry-meta .entry-terms a:focus{
				color: #666;
			}
				.entry-terms.category .term-name,
				.entry-terms.post_tag .term-name,
				.entry-terms.post_format .term-name{
					display: none;
				}
				.entry-terms:before{
					content: '';
					font-family: "genericons";
					margin-right: 0;
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
				}
				.entry.format-aside .entry-terms.post_format:before{
					content: '\f101';
				}
				.entry.format-image .entry-terms.post_format:before{
					content: '\f102';
				}
				.entry.format-gallery .entry-terms.post_format:before{
					content: '\f103';
				}
				.entry.format-video .entry-terms.post_format:before{
					content: '\f104';
				}
				.entry.format-status .entry-terms.post_format:before{
					content: '\f105';
				}
				.entry.format-quote .entry-terms.post_format:before{
					content: '\f106';
				}
				.entry.format-link .entry-terms.post_format:before{
					content: '\f107';
				}
				.entry.format-chat .entry-terms.post_format:before{
					content: '\f108';
				}
				.entry.format-audio .entry-terms.post_format:before{
					content: '\f109';
				}
				.entry .entry-terms.category:before{
					content: '\f301';
				}
				.entry .entry-terms.post_tag:before{
					content: '\f302';
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}


/* === POST NAV: Next Post Link, Prev Post Link === */
.post-navigation{
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 10px;
	padding: 1rem;
	background: #fff;
}
.post-navigation:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.post-navigation .screen-reader-text{
	}
	.post-navigation .nav-prev{
		padding-left: 30px;
		padding-left: 3rem;
		width: 45%;
		float: left;
		text-align: left;
		position: relative;
	}
	.post-navigation .nav-next{
		padding-right: 30px;
		padding-right: 3rem;
		width: 45%;
		float: right;
		text-align: right;
		position: relative;
	}
		.post-navigation .nav-prev a:before{
			content: '\f430';
			font-family: "genericons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			left: 0;
		}
		.post-navigation .nav-next a:after{
			content: '\f429';
			font-family: "genericons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			right: 0;
		}



/* === LOOP PAGINATION === */
.navigation.pagination{
	margin-right: 20px;
	margin-right: 2rem;
}
.navigation.pagination:before,
.navigation.pagination:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.navigation.pagination .screen-reader-text{
	}
	.navigation.pagination .page-numbers{
		display: inline-block;
		background: #fff;
		padding: 0 10px;
		padding: 0 1rem;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.navigation.pagination a.page-numbers:hover,
	.navigation.pagination a.page-numbers:focus{
	}
	.navigation.pagination .page-numbers.current{
		color: #ccc;
	}
	.navigation.pagination .page-numbers.dots{
		color: #ccc;
	}
	.navigation.pagination .page-numbers.prev{
	}
	.navigation.pagination .page-numbers.next{
	}
	.navigation.pagination .page-numbers.prev:before{
		content: '\f430';
		font-family: "genericons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
	.navigation.pagination .page-numbers.next:after{
		content: '\f429';
		font-family: "genericons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}


/* === SIDEBAR === */

/* === Sidebar Toggle === */
#sidebar-toggle {
	float: right;
}
#sidebar-toggle a{
	float: right;
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
#sidebar-toggle a:after{
	content: '\f505';
	font-family: "genericons";
	color: #fff;
	font-size: 30px;
	font-size: 3rem;
	padding: 10px;
	padding: 1rem;
	float: right;
	-webkit-font-smoothing: antialiased;
}
#sidebar-toggle a:hover:after{
	opacity: 0.8;
}

/* === Sidebar === */

#sidebar-primary-wrap {
	background: transparent;
	transition: all 0.4s ease-in-out 0s;
}
#sidebar-primary{
	background: #2d302e;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	width: 336px;
	max-width: 90%;
	margin-right: -336px;
	transition: all 0.4s ease-in-out 0s;
	z-index: 99999;
}
body.admin-bar #sidebar-primary{
	padding-top: 32px;
}
/* turn off the lights! */
body.sidebar-toggle-active #sidebar-primary-wrap {
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: all 0.4s ease-in-out 0s;
}
/* Open  */
body.sidebar-toggle-active #sidebar-primary{
	margin-right: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.4s ease-in-out 0s;
}

/* === FOOTER === */
#footer{
	width: 100%;
	clear: both;
}
	#footer p{
		margin-bottom: 0;
	}
	/* Footer Menu */
	#footer-links{
		display: inline;
	}
	#footer-links a:before{
		content: " | ";
		color: #ccc;
	}
